SOURCE_DB=mysql+pymysql://user:pass@host:3306/db?charset=utf8mb4
TARGET_DB=mssql+pyodbc://user:pass@host:1433/db?driver=ODBC+Driver+17+for+SQL+Server&Encrypt=no&TrustServerCertificate=yes
USER_GUID=XXXXXXXXXXXXXXX
BATCH_SIZE=10000
BT_APP_NAME=log-<service>
BT_ENVIRONMENT=local
BT_DEBUG=false
BT_LOG_LEVEL=INFO
BT_LOG_JSON=true
BT_MONGO_LOG_ENABLED=false
BT_MONGO_URI=mongodb://user:pass@host:27017
BT_MONGO_DB=<service>-db
BT_MONGO_COLLECTION=<service>_logs
